@model DP_60321_TROSHKO.Models.Entities.AdPosts


@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование объявления "@Model.Title"</h2>

@using (Html.BeginForm("EditPost", "Client", FormMethod.Post))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить изменения и вернуться к списку", "GetOrders")
}

