
   <div class="text-center">
    <div class="btn-group btn-group-lg">
        <button class="btn btn-default " type="button" onclick="location.href='@Url.Action("ShowListPostsR", "Home")'">Найти заказ</button>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("ShowListPostsRI", "Home")'">Найти подрядчика</button>
    </div>
</div>



    
